@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&family=Montserrat:wght@100;400;700&display=swap');

$primary: #66FCF1;
$secondary: #45A29E;
$near-black: #0B0C10;
$navy: #1c223d;
$primary-light: #bdfcf8;

@import "./cards.scss";
@import "./forms.scss";

body {
  font-family: 'Kanit', sans-serif;
  background-color: $near-black;
  height: 100vh;
}

nav {
  background-color: rgb( 189, 252, 248, .1);
  padding: 1rem;

  .nav-home {
    color: $primary;
    font-size: 22px;
    text-decoration: none;
  }

  .btn {
    float: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: white;
}

.btn {
  background-color: $near-black;
  border: $primary 1px solid;
  border-radius: 0;
  color: $primary;

  &:hover {
    background-color: $primary;
    border: $primary 1px solid;
    color: $near-black;
  }
}

.section-hero {
  background-color: $near-black;

  h1 {
    color: $primary;
    font-size: 48px;
    font-weight: 900;
  }

  p {
    color: $white;
  }
}

.section-cards {
  background:linear-gradient(0deg, rgba(11, 12, 16, 0), rgba(11, 12, 16, 1)), url(https://source.unsplash.com/G9i_plbfDgk);
  background-size:cover;
  flex: 1;
}

@include media-breakpoint-up(md) {
  .section-hero {
  
    h1 {
      font-size: 100px;
    } 

    p {
      font-size: 20px;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}
