.cards-row {
  @include row-cols(1);

  @include media-breakpoint-up(md) {
    @include row-cols(3);
  }

  @include media-breakpoint-up(lg) {
    @include row-cols(5);
  }
}

.card {
  background-color: rgb( 189, 252, 248, .1);
  border-radius: 0;
}

.card.card-index-page {
  height: 100%;
  .card-body {
    .card-title {
      font-size: 18px;
    }
  }
}

.card.card-full-details {
  margin-bottom: 2rem;

  .card-title {
    font-size: auto;
  }
}

.card-body {
  .card-title {
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 600;

    a {
      color: $primary;
    }
  }

  .card-text {
    color: $white;
    font-weight: 100;
  }

}
