.form-input {
  width: 100%;
}

.form-label, label, i, em {
  color: $white;
  font-weight: 100;
}

.comment {
  font-weight: 100;
}

.commenter {
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .form-input {
    width: 50vw;
  }
}
