<div class="container">

  <div class="row my-5">
    <div class="col-md-10 offset-md-1 text-center">
      <h1 class="mb-4">Happy Wins 🎉</h1>
      <p>Hey budding Rails developer! You're awesome and doing a great!</p>
      <p>The learning journey has its fill of mountains and valleys. While you are here, why not jot a recent win or something fun you've learned to share with others.</p>
      <%= link_to "Add Note", new_card_path %>
    </div>
  </div>

 <div class="row cards-row g-4">
    <% @cards.each do |card| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
        <%= link_to card.title, card %>
        <p><%= card.description%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
