// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cards-row {
  @include row-cols(1);

  @include media-breakpoint-up(md) {
    @include row-cols(3);
  }

  @include media-breakpoint-up(lg) {
    @include row-cols(5);
  }
}
