// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cards-row {
  @include row-cols(1);

  @include media-breakpoint-up(md) {
    @include row-cols(3);
  }

  @include media-breakpoint-up(lg) {
    @include row-cols(5);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-family: 'Roboto Slab', sans-serif;
}

$primary: #0F114E;
$secondary: #F69581;
$green: #175662;
$light-blue: #B3C6D7;
